
<h3><%= @response[:link] %></h3>
<a href="/">back</a>

<ul>
  <h4>h1 tags</h4>
<% @response[:h1Tags].each do |item| %>
  <li><%= item.content %></li>
<% end %>
</ul>

<h4>h2 tags</h4>
<ul>
<% @response[:h2Tags].each do |item| %>
  <li><%= item.content %></li>
<% end %>
</ul>

<h4>h3 tags</h4>
<ul>
<% @response[:h3Tags].each do |item| %>
  <li><%= item.content %></li>
  <% end %>
</ul>
